<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :restaurant_name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :restaurant_rating %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :restaurant_address %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :restaurant_address2 %>
  </div>

  <div class="field">
    <%= form.label :address3 %>
    <%= form.text_field :address3, id: :restaurant_address3 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :restaurant_city %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :restaurant_phone %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :restaurant_price %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url, id: :restaurant_url %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image, id: :restaurant_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
