<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Address</th>
      <th>Address2</th>
      <th>Address3</th>
      <th>City</th>
      <th>Phone</th>
      <th>Price</th>
      <th>Url</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.rating %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.address2 %></td>
        <td><%= restaurant.address3 %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.price %></td>
        <td><%= restaurant.url %></td>
        <td><%= restaurant.image %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
